%section.hero.is-success
  .hero-body
    .container
      %h1.title
        レシピ詳細
%section.section
  .container
    .columns.is-centered
      .column.is-7
        .card
          .card-image
            %figure.image.is-4by3
              = attachment_image_tag @recipe, :image
          .card-content
            .media
              .media-content
                %p.title.is-4= @recipe.title
                %p 調理時間
                %p.title.is-5= @recipe.time
            .content
              %table.table.is-narrow
                %tr
                  %th レシピ
                %tr
                  %td= simple_format @recipe.body
              - if @recipe.user.id == current_user.id
                = link_to "編集画面へ", edit_recipe_path(@recipe), class: "button is-success"
      .column.is-4
        %article.panel.is-link
          %p.panel-heading
            By #{@recipe.user.username}
            %p.control
              = @recipe.user.profile
          = link_to user_path(@recipe.user), class: "panel-block" do
            %span.panel-icon
              %i.fas.fa-user{"aria-hidden" => "true"}
            = @recipe.user.username
            さんのページへ
        %p.panel-heading コメント一覧
        .comment.panel.is-link{:class => "border-top　mb-10"}
          - @comments.each do |c|
            %div.mx-2.my-2
              - unless c.user.blank?
                %a{:href => "#{user_path(c.user_id)}"}
              = c.user.username unless c.user.blank?
              %br/
              = c.content
            %br/
        - if user_signed_in?
          = form_with(model: [@recipe, @comment], local: true, id: "new_comment") do |f|
            = f.text_area :content, class: "textarea textbox", rows: 2
            = button_tag type: "submit", class: "is-block my-3" do
              %i.far.fa-comments
              コメントする

