!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OneStepRecipe
    = csrf_meta_tags
    = csp_meta_tag
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css", :integrity => "sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'


  %body
    - if flash[:notice]
      .notification.is-info
        %p.notice= notice
    - if flash[:alert]
      .notification.is-danger
        %p.alert= alert

    %nav.navbar
      .navbar-brand
        = link_to root_path, class: "navbar-item" do
          %h1.title.is-4{:style => "font-family: serif;"} one step recipe
        .navbar-burger.burger{"data-target" => "navbarExampleTransparentExample"}
          %span
          %span
          %span
        - if user_signed_in?
          #navbarExampleTransparentExample.navbar-menu
            %ul.navbar-item
              %li.recipe.dropdown
                = link_to "レシピ一覧▼", recipes_path, class: "navbar-item button is-warning is-light"
                .dropdown-menu
                  = link_to "調理時間10分", time_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                  = link_to "調理時間20分", time2_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                  = link_to "調理時間30分", time3_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                  = link_to "作り置き編", time4_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                .navbar-item
              = link_to "レシピ投稿者一覧", users_path, class: "button is-light is-warning"
            .navbar-item
              .navbar-end
                .field.is-grouped
                  %p.control
                    = link_to "新規投稿", new_recipe_path, class: "navbar-item button is-warning is-light"
                  %p.control
                    = link_to "マイページ", user_path(current_user), class: "button is-warning is-light"
                  %p.control
                    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light"

        - else
          #navbarExampleTransparentExample.navbar-menu
            %ul.navbar-item
              %li.recipe.dropdown
                = link_to "レシピ一覧▼", recipes_path, class: "navbar-item button is-warning is-light"
                .dropdown-menu
                  = link_to "調理時間10分", time_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                  = link_to "調理時間20分", time2_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                  = link_to "調理時間30分", time3_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
                  = link_to "作り置き編", time4_recipes_path, class: "navbar-item button is-warning is-light is-outlined"
            .navbar-item
              = link_to "レシピ投稿者一覧", users_path, class: "button is-light is-warning"
            .navbar-item
              .navbar-end-end
                .field.is-grouped
                  %p.control
                    = link_to "ログイン", new_user_session_path, class: "button is-light is-warning"
                  %p.control
                    = link_to "新規登録", new_user_registration_path, class: "button is-light is-warning"
  = yield
